.App {
  text-align: center;
}

.navBar {
  .navbar-link{
    color: white;
  }
}

.home {
  min-height: calc(100vh - 56px);
}

.type-item-card {
  cursor: pointer;
}

.spinner-container {
  width: 100%;
}